
#project{
	position: relative;
	display: block;
	width:100%;
	height: 100%;

}
.tables {
	padding-left:100px;
	padding-right:100px;
}

#diary .tables table, td,tr{
	border:1px solid gray;
}
.firt-line{
	background-color:#568EA6;
	color: white;
}
td{
	padding:5px;
}
* {
	font-family: "Ubuntu",sans-serif;
}
.tab-menu {
	margin-left:10%;
	margin-right:10%;
}
#flex{
	display: flex;
	flex-direction: row;
	margin-top:2%;
}
#flex >div{
	width: 13em;
	padding-top: 2em;
	padding-left: 10px;
}
.tab {
	border-radius: 10px;
	padding: 10px 20px;
	background: #568EA6;
	color:black;
	cursor: pointer;
	box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.tab:hover{
	text-decoration: none;
	color: whitesmoke;
	background-color: #305F72;
}
.tab+.tab {
	margin-left: 10px;
}
.tab-menu .active{
	background-color: #305F72;
	color: white;
}
.content-tab-item {
	display: none;
	width: 100%;
}

.active-tab {
	display: inline-block;
}

.tab-menus {
	margin-left:10%;
	margin-right:10%;
}
.tabs {
	padding: 10px 20px;
	background: #FFF;
	color: black;
	cursor: pointer;

}
.tab-menus a{
	text-decoration:none;
}
.tabs+.tabs {
	margin-left: 10px;
	color: black ;
}
.tabs+.tabs:hover {
	color:#305F72 ;
}

.tab-menus .actives{
	font-size: 16px;
	color:#305F72 ;
	border-bottom:2px solid black;
}
.content-tab-items {
	display: none;
}


.active-tabs {
	display: inline-block;
}

#diary .anhGroup h3{
	margin-top:30%;
	color:#FA194F;

}
#diary .anhGroup img{
	margin-top:50px;
	margin-bottom:50px;

}
#diary .tab-menu a{
	text-decoration:none;
}
.content-tabs{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	float: bottom;
	position: relative;
	margin-left:10%;
	margin-right:10%;
}

.content-tab-items{
	position:relative;
	width:100%;

}
.content-tab-item .btn-downall{
	position:inherit;
	margin-bottom: 1%;
	margin-left: 46%
}
.content-tab-item .btn-downall .btn{
	background-color: #568EA6;
	border: none;
	color:black;
	cursor: pointer;
	font-size: 15px;
	width: fit-content;

}

.content-tab-item .btn-downall .btn:hover{
	background-color: #305F72;

}
.content-tab-item .btn-downall .btn{
	text-decoration:none;
	color:#fff;
}
.content-tab-item .btn-downall .btn > a{
	color:#fff;
	text-decoration: none;
}

.thietke {
	display: flex;
	flex-direction: row;


}
.thietke >div{
	margin: 10px;
	width: 60em;
	height: fit-content;

}
.thietke >div > img{
	border: 1px solid black;
	width: 80%;
	height: 80em;

}
.thietke  .btn_down .btn {
	background-color: #568EA6;
	position: absolute;
	margin-top: 50%;
	border: none;
	color:white;
	cursor: pointer;
	font-size: 15px;
	width: fit-content;

}

/* Darker background on mouse-over */
.thietke  .btn_down .btn:hover {
	background-color: #305F72;
	color: white;
}
.thietke .btn_down .btn a{
	text-decoration:none;
	color: white;
}
.thietke .btn_down .btn a:hover{
	color: white;
}

#contentC{
	margin-top:5%;
	margin-bottom:5%;
}
#contentC .go{
	position:relative;
	width:800px;

}
#contentC .go .bt a{
	color: black;
	font-family: "Ubuntu",sans-serif;
}

#contentC .go .bt{
	position:absolute;
	margin-left:100%;
	margin-top:-5%;
}
#contentC .go .bt button{
	background-color:#568EA6;
	border:1px solid #568EA6;
}
#contentC .go .bt .btn:hover{
	background-color:#305F72;
}
#contentC .go .bt a:hover{
	text-decoration:none;
	color:#fff;
}

#contentC .go .the{
	position:absolute;
}

.footer {
	position:fixed;
}

#flex-sub{
	display: flex;
	flex-direction: row;
}
#flex-sub>div{
	width:70%;
}

#float-bottom{
	position: relative;
	bottom: 0;
	left: 0;
	width: 100%;

}

#active-coll{
	background-color: inherit;
	color: black;
}
table {
	border-collapse: collapse;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;

}

th, td {
	text-align: left;
	padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
	background-color: #305F72 ;
	color: white;
}
.panel-heading >h4 >a{
	font-size: 14px;
	color: #305F72;
	text-decoration: none;
}
.panel-heading >h4 >a:hover{
	color: #305F72;
	text-decoration: none;
}
#return-to-top {
	position: fixed;
	margin-bottom: 205px;
	bottom: 20px;
	right: 20px;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.7);
	width: 50px;
	height: 50px;
	display: block;
	text-decoration: none;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
	display: none;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#return-to-top i {
	color: #fff;
	margin: 0;
	position: relative;
	left: 16px;
	top: 13px;
	font-size: 19px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#return-to-top:hover {
	background: #305F72;
}
#return-to-top:hover i {
	color: #fff;
	top: 5px;
}
.panel-group .panel{
	margin-left:10%;
	margin-right:10%;
}
.btn-info{
	position:inherit;
	margin-left:80%;
	background-color: #E17E09;
	color: white;
	border: none;
}
.btn-info:hover{
	background-color: #ff6708;
}
.btn-info a{
	text-decoration:none;
	color:white;
}
.btn-info a:hover{
	color:white;

}
.panel-heading > h4 {
	font-weight: bold;
}

.card-body .table-imp > table, tr, td{
	border:  none;
}

.card-body > p {
	text-align:  center;
	font-style: italic;
}























